<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92388715410-1f4t1jglijpeh935bt62nt77b14d65rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92388715410-1f4t1jglijpeh935bt62nt77b14d65rv</string>
	<key>API_KEY</key>
	<string>AIzaSyCkjZNvFYnw0Uh07PQyaPcL1zSUFK0nkqU</string>
	<key>GCM_SENDER_ID</key>
	<string>92388715410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bridge.2022</string>
	<key>PROJECT_ID</key>
	<string>bridge-ios-f490f</string>
	<key>STORAGE_BUCKET</key>
	<string>bridge-ios-f490f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92388715410:ios:0f4ef589fa47bbdac96f4b</string>
</dict>
</plist>